$text: #222222;
$text-cell: #6c6c6c;
$hover:  #ffc400;
$focus:  #544000;

$background-cell: #ffd271d0;
$background-cell-curent: #f0ca4d;
$background-cell-curent-hover: #e1bf4e;
$background-row: #ffd986d0;
$background-thead: #dbc88b;
$background-gray: #f8f8f8;
$background-btn: #ffd986d0;
$background-modal: #eee3d0;
$background-textarea: #e0c791;
$color-thead: #4b3a21;
